<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.event.drag.min.js', 'jquery-ui-1.8.5.custom.min.js' %>
  <%= slickgrid_assets %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
